.min-h-screen {
    background-image: url('https://newmibridges.michigan.gov/resource/1699095958000/ISD_Icons/landing-page/group-3.svg');
    background-repeat: no-repeat;
    background-size: cover; /* This will make the background image cover the entire container */
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center the content */
    color: black;
  };

  #loginbtn{
    display: flex;
    justify-content: center;
    align-items: center;

  }